
.bs-example{
    color:black;
}
.bs-callout-warning {
    padding-bottom: 6px;
}
.articleReadMore {
    color: #c7254e;
}

.videoResults, .imagesResults{
    display:none;
    margin-top:33px;
}

.modal-content{
    width:75%;
}

#player{
    max-width:640px;
    min-width:100px;
    width:100%;
    max-height:390px;
}

.sitemap , .footer{
    display:none;
}