<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="rewriter"
             requirePermission="false"
             type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter" />
  </configSections>
  
    <system.web>      
      <compilation debug="true" targetFramework="4.5" />
      <pages enableViewState="true" />
      <sessionState timeout="60"></sessionState>
    </system.web>

  <system.webServer>
    <modules>
      <add name="CuteWebUI.UploadModule" type="CuteWebUI.UploadModule,CuteWebUI.AjaxUploader"/>
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter"/>
      <remove name="Session" />
      <add name="Session" type="System.Web.SessionState.SessionStateModule, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </modules>
  </system.webServer>


  <appSettings>
    <add key="forgottenPasswordUrl" value="http://localhost:61844/resetpassword?email="/>
    <add key="forgottenPasswordUrlUsingUserID" value="http://localhost:61844/resetpassword?id="/>
    <add key="viewVideoUrl" value="http://localhost:61844/videopreview.aspx?user="/>
    <add key="savePath" value="C:\\Users\musa.mhlengi\\Documents\\GitHub\\FileUploadWebAPI\\RFU-TWO\\Uploads\\"/>
    <add key="filenameForTermsAndConditions" value="LatestSightings_TermsAndCondition.pdf"/>
    <add key="termsAndConditionsFilePath" value="C:\\Users\\musa.mhlengi\\Documents\\Visual Studio 2012\\Projects\\LatestSightingsContributorApp\\LatestSightingsContributorApp\\TermsAndConditions\\"/>
    <add key="videoAdministratorEmailAddress" value="testingerror@mailinator.com"/>
    <add key="650by650" value="C:\\Users\\musa.mhlengi\\Documents\\GitHub\\Revamp_LatestSightings\\Revamp_LatestSightings\\UploadedImages\\650x650\\" />
    <add key="80by80" value="C:\\Users\\musa.mhlengi\\Documents\\GitHub\\Revamp_LatestSightings\\Revamp_LatestSightings\\UploadedImages\\80x80\\" />
    <add key="originalImage" value="C:\\Users\\musa.mhlengi\\Documents\\GitHub\\Revamp_LatestSightings\\Revamp_LatestSightings\\UploadedImages\\original\\" />
    <add key="originalImageFolderPath" value="UploadedImages/original/"/>
    <add key="articleImagePath" value="http://cdn.socialengine.co.za/latestsightings/article/" />
    <add key="siteUrl" value="http://localhost:61844/"/>
    <add key="contactUsEmailAddress" value="testingerror@mailinator.com"/>
    <add key="contentCategoryId" value="1003"/>
    <add key="tingImageFolderUrl" value="http://tingsservice.socialengine.co.za/uploads/"/>
    <add key="lodgeImageFolderUrl" value="http://cdn.socialengine.co.za/latestsightings/lodge/" />
    <add key="tingImageServiceCall" value="http://tingsservice.socialengine.co.za/tings/image/" />
    <add key="homeTingsNumber" value="10"/>
    <add key="imagePreviewUrl" value="http://localhost:61844/imagepreview/"/>

  </appSettings>
  
  <connectionStrings>
      <add name="ConnString" providerName="System.Data.SqlClient" connectionString="SERVER=03RNBL-55H8NX1;UID=sa;PWD=ChangeMe911;DATABASE=latestsightings;Pooling=False;"/>
  </connectionStrings>


  <rewriter>
    <rewrite url="~/content/(.+)" to="~/content.aspx?p=$1" processing="stop" />
    <rewrite url="~/lodge/(.+)" to="~/lodges.aspx?p=$1" processing="stop" />
    <rewrite url="~/tvlodge/(.+)" to="~/tvlodge.aspx?p=$1" processing="stop" />
    <rewrite url="~/tvlodgeTwo/(.+)" to="~/tvlodgeTwo.aspx?p=$1" processing="stop" />
    <rewrite url="~/tvlodgeThree/(.+)" to="~/tvlodgeThree.aspx?p=$1" processing="stop" />
    <rewrite url="~/sighting/(.+)" to="~/sightings.aspx?id=$1" processing="stop" />
    <rewrite url="^~/park/([a-zA-Z_0-9_\-]+)/ting/([a-zA-Z_0-9_\-]+)(\?(.+))?$" to="~/ting.aspx?p=$1&amp;t=$2" processing="stop" />
   
    <rewrite url="~/park/sightings/(.+)" to="~/parksightings.aspx?id=$1" processing="stop" />
    <rewrite url="^~/magnet-scan/(\?(.+))?$" to="~/content.aspx?p=join-latest-sightings-community&amp;$2" processing="stop" />
    <rewrite url="~/blogs/(.+)" to="~/categoryBlogList.aspx?p=$1" processing="stop" />
    <rewrite url="~/blog/(.+)" to="~/blog.aspx?p=$1" processing="stop" />
    <rewrite url="~/imagepreview/(.+)" to="~/imagepreview.aspx?p=$1" processing="stop" />
    <rewrite url="~/rfu/" to="~/resumableFileUpload.aspx" processing="stop" />
  
  </rewriter>

</configuration>
