/* GENERAL
--------------------------------------*/

* {
    box-sizing: border-box;
}

html {
    font-family: Roboto, sans-serif;
    font-size: 16px;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.bd-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #fff;
    padding: 3% 0;
    overflow: hidden;
}

p, h1, h3, h5 {
    margin: 0;
}

p {
    font-size: 0.85rem;
}

h1 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1rem;
    font-weight: 500;
}

h5 {
    font-size: 0.75rem;
}

/* HEADER
--------------------------------------*/

.bd-hdr {
    width: 100%;
    height: 12%;
    padding: 0 5% 1% 5%;
    position: relative;
    display: table;
}

.logo-left,
.logo-right {
    width: 20%;
    display: table-cell;
    vertical-align: middle;
}

.logo-left img {
    float: left;
    height: 3.75rem;
}

.logo-right img {
    float: right;
    height: 3.75rem;
}

.bd-title {
    width: 60%;
    padding: 0 20px;
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
    color: #2a1403;
    display: table-cell;
    vertical-align: middle;
}

.bd-title h1 {
    font-weight: 100;
}

/* MAIN CONTENT
--------------------------------------*/

.bd-inner {
    width: 100%;
    height: 76%;
    padding: 2% 5%;
    box-sizing: border-box;
    background-color: #ede4db;
    float: left;
}

.leftcol {
    width: 25%;
    height: 100%;
    float: left;
    overflow: hidden;
}

.rightcol {
    width: 75%;
    height: 100%;
    float: left;
}

.video {
    width: 96%; 
    margin-bottom: 3%;
    position: relative;  
    padding-bottom: 56.25%; 
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.video img {
    width: 100%;
    height: auto;
}

.map {
    border: 3px solid #bb9975;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.card {
    float: right;
    width: 100%;  
    height: auto;   
    max-height: 370px;   
    background-color: #fff; 
    position: absolute; 
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.25);
}

.card img {
    width: 50%;
    height: auto;
    float: left;
}

.info-wrap {
    width: 100%;
    padding: 1.2em;
    max-height: 210px;
}

.profile,
.location,
.detail,
.des {
    width: 100%;
    float: left;
    margin-bottom: 2%;
}

.profile {
    margin-bottom: 1%;
}

.detail,
.des {
    margin-bottom: 4%;
}

.profile img {
    width: 3.125rem;
    height: 3.125rem;
    float: left;
    border-radius: 50%;   
    border: 2px solid #f69121;  
    margin-right: 4%;
}

.profile-txt {
    width: auto;
    float: left;
    text-align: left; 
    color: #564338;  
    line-height: 1.5rem;
}

.profile p {
    text-align: left;           
    color: #564338;
    line-height: 1.5rem;
}

.profile img{
	display:none;
}
.location p,
.des p {
    color: #2a1403;
    font-weight: 400;
    line-height: 1.313rem;
}

.detail .visibility,
.detail .traffic {
    width: 50%;
    float: left;
}

.detail h5 {
    font-weight: 400;
    color: #564338;
}

.detail .visibility {
    text-align: left;
}

.detail .traffic {
    text-align: right;
}

.stars {
    color: #f69121;
}

.profile-txt p {
    font-size: 15px;
}


.info-wrap:before,
.info-wrap:after {
    content: " ";
    display: table;
}
 
.info-wrap:after {
    clear: both;
}
 
.info-wrap {
    *zoom: 1;
}
 
.des {
    max-height: 4rem;
    overflow: hidden;
}

/* Carousel */

.bx-viewport {
    height: 100% !important;
}

.bxslider {
    padding: 0;
}

.bxslider li {
    display: inline-block;
    margin-bottom: -4px;
    background-color: #fff;
    border-bottom: 1px solid rgba(187, 153, 117, 0.5);
}

.bxslider li .pic {
    width: 80px; 
    height: 80px;  
    overflow: hidden; 
    float: left;
    background: black; 
    position: relative;
}

.bxslider li img {
    height: 100%; 
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.bxslider .info {
    width: 70%;
    float: left;
    padding: 0.75rem 1rem;
}

.bxslider .info h3 {
    color: #564338;
}

.bxslider .info h5 {
    color: #888;
    font-weight: 400;
    padding-top: 2px;
}

.bxslider .active {
    background-color: #bb9975;
}

.bxslider .active h3,
.bxslider .active h5 {
    color: #2a1403;
}

/* FOOTER
--------------------------------------*/

.bd-footer {
    width: 100%;
    height: 12%;
    padding: 1% 5% 0 5%;
    position: relative;
    display: table;
}

.footer-txt-wrap {
    width: 80%;
    display: table-cell;
    vertical-align: middle;
}

.footer-txt {
    height: 1.5rem;
    text-align: left;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    overflow: hidden;
    color: #333;
}

.stores {
    display: table-cell;
    vertical-align: middle;
}

.stores img {
    float: right;
    height: 3.75rem;
}


.img-wrap {
    height: 160px;
    position: relative;
    background-color: #000; 
    overflow: hidden;
}


.card .img-wrap img {
    max-width: 285px;  
    max-height: 160px;   
    position: absolute;  
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    -webkit-transform: translate(-50%, -50%);
     ms-transform: translate(-50%, -50%);
     moz-transform: translate(-50%, -50%);
     0-transform: translate(-50%, -50%);
}

/* SLIDER TEXT */

#carousel {
  position: relative;
  width: 80%;
  margin: 0 auto;
}

#slides {
  overflow: hidden;
  position: relative;
  width: 100%;
  /*height: 250px; */
  height: 134px;
}

#slides ul {
  list-style: none;
  width: 100%;
  height: 134px;
  margin: 0;
  padding: 0;
  position: relative;
}

#slides li {
  width: 100%;
  height: 134px;
  float: left;
  text-align: center;
  position: relative;
  font-family: lato, sans-serif;
}

/* Styling for prev and next buttons */
.btn-bar{
	visibility: hidden;
}

#carousel {
  position: relative;
  width: 80%;
  margin: 0 auto;
}

#slides {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 134px;
}

#slides ul {
  list-style: none;
  width: 100%;
  height: 134px;
  margin: 0;
  padding: 0;
  position: relative;
}

#slides li {
  width: 100%;
  height: 134px;
  float: left;
  text-align: center;
  position: relative;
  font-family: lato, sans-serif;
}

.quote-phrase {
  font-family: sans-serif;
  font-weight: 300;
  display: table-cell;
  vertical-align: middle;
  padding: 5px 20px;
  font-family: 'Lato', Calibri, Arial, sans-serif;
}

.quote-phrase {
  height: 200px;
  font-size: 24px;
  color: black;
  font-style: italic;
  text-shadow: .5px 0px #b14943;
}

.quoteContainer {
  display: table;
  width: 100%;
}

.gm-style .gm-style-iw {
    font-weight: normal; 
    font-size: 1rem;
    width: 285px !important;
    top: -230px !important;
    left: 135px !important;
    overflow: visible;
}

.marqueeP{
    font-size:23px !important;
}

/* RESPONSIVE STYLES
--------------------------------------*/

@media screen and (min-width: 1920px) {
   html {
        font-size: 20px;
    }
    
    .bxslider li {
        margin-bottom: -5px;
    }
    
    .bxslider li .pic {
        width: 100px;
        height: 100px;
    }

    .card {
        max-height: 520px;
    }
 
    .gm-style .gm-style-iw {
        width: 370px !important;
        top: -200px !important;
        left: 200px !important;
    }
 
    .img-wrap {
        height: 197px;
    }
 
    .card .img-wrap img {
        max-width: 370px;
        max-height: 197px;
    }
 
    .info-wrap {
        max-height: 323px;
    }
}