
.img-link img{
    height:218px;
}

h3{
    border-bottom:none !important;
    padding-bottom:0px !important;
    margin-bottom:0px !important;
}
.blog-grid-content{
    min-height:100px !important;
}